@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9f9f9 !important;
}

nav,
header {
  font-family: "Merriweather", Georgia, serif;
}

main {
  font-family: "Helvetica Neue", Arial, sans-serif;
}
